body {
  font-family: sans-serif;
  background-color: greenyellow;
  width: 100%;
  margin: 0px;
}

h1,
h2 {
  text-align: center;
}
a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
#backHome {
  text-align: center;
}
#backHome a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
#main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 40%;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  margin-top: 5px;
}

.card p {
  text-align: justify;
}
button {
  width: 150px;
  margin: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 1px solid blue;
  border-radius: 10px;
  font-weight: bold;
}

button:hover,
button:active {
  background-color: rgb(161, 27, 161);
  border: 1px solid rgb(161, 27, 161);
}
.diagrams {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

img {
  width: 100px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

header {
  margin-top: 0px;
  background-color: green;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

header img {
  width: 100px;
  border-radius: 10px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}
