body {
  font-family: sans-serif;
  background-color: green;
  margin: 0px;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
h2,
h3 {
  text-align: center;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  color: white;
  width: 45%;
  border: grey solid 2px;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reaction {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.reactants,
.products {
  width: 30%;
  text-align: center;
  background-color: orangered;
  border-radius: 5px;
}

.arrow {
  margin: 0px 10px 0px 10px;
  font-weight: bold;
}
.enthalpy {
  margin-left: 10px;
}
.answer {
  background-color: white;
  width: 70%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
}
.box {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.upper > p,
.lower > p {
  width: 25px;
  background-color: blue;
  font-weight: bold;
  text-align: center;
}
.upper p:nth-of-type(2),
.lower p:nth-of-type(2) {
  background-color: red;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.upper,
.lower {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.enthalpy-level {
  height: 160px;
}
.direction {
  height: 100px;
}
#backHome {
  margin: 10px;
  text-align: center;
}
#backHome a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

@media (max-width: 1135px) {
  .card {
    font-size: 0.9rem;
  }
  .box {
    gap: 50px;
  }
}
@media (min-width: 545px) and (max-width: 1034px) {
  .card {
    width: 98%;
    font-size: 1rem;
  }
}

@media (min-width: 455px) and (max-width: 544px) {
  .card {
    width: 98%;
    font-size: 0.8rem;
  }
}

@media (max-width: 454px) {
  .card {
    width: 98%;
    font-size: 0.65rem;
    padding: 2px;
    margin: 0px;
    margin-bottom: 5px;
  }
  .box {
    gap: 60px;
  }
  .answer {
    width: 80%;
  }
  .reactants,
  .products {
    width: 25%;
  }
  /* .arrow {
    margin: 0px 1px 0px 1px;
    font-weight: bold;
  } */
}
