body {
  width: 100%;
  background-color: greenyellow;
  box-sizing: border-box;
  margin: 0px;
  font-size: 1rem;
}

header {
  margin-top: 0px;
  background-color: green;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

h1 {
  text-align: center;
}
header h1 {
  margin: 0px;
}
header img {
  width: 70px;
}

#balanceamento > input {
  width: 20px;
}

main {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  padding: 5px;
  width: 45%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 10px;
}

.balanceamento {
  font-size: 0.7rem;
  font-weight: 600;
}

.balanceamento,
.stoichiometry {
  text-align: center;
}

.stoichiometry {
  margin: 10px;
  padding: 5px;
  background-color: rgb(43, 226, 162);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer {
  margin: 10px;
}

label {
  margin: 2px;
}

@media (max-width: 900px) {
  .card {
    width: 98%;
  }
  h1 {
    font-size: 0.9rem;
  }
}

footer {
  text-align: center;
}
